body{
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
  text-align: center;
}

#launch{
  background-color: darkblue;
  border-radius:30px;
  color:white;
}

footer{
  display: flex;
  flex-direction: column;
  align-items: center;
}